@model IEnumerable<IndoCybreShop.Models.ViewModels.OrderDetailViews>

<div class="w3-container list-cart-item">
    <table class="w3-table-all w3-hoverable">
        <thead>
            <tr class="w3-light-grey">
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody id="list-transaksi">      
            @foreach(var item in Model)
            {
                <tr class="prd-item-cart" id='@("prd"+item.ProductID)' prdid="@item.ProductID">
                    <td>
                        <span id='@("prdname"+item.ProductID)'>@item.ProductName</span>
                    </td>
                    <td>
                        <span id='@("prdprice"+item.ProductID)'>@item.UnitPrice</span>
                    </td>
                    <td>
                        <span id='@("count"+item.ProductID)'>@item.Quantity</span>
                    </td>
                    <td>
                        <span id='@("totalprc"+item.ProductID)'>@item.TotalPrice</span>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="3" class="text-center"><b>Total</b>
                </td>
                <td>
                    <b><span id="totalsemuaharga">@ViewBag.totalharga</span></b>
                </td>
            </tr>

        </tbody>
    </table>
</div>